<div class="loading" *ngIf="!loading">
    <h2>Loading...</h2>
    <img src="assets/badgerLoad.gif">
</div>
<div class="quiz-container">
  <div class="content">
    <div class="list-container">
      <app-question-list *ngIf="questions.length>0" [answers]="quizForm.get('answers').value" [(currentQ)]="currentQ"></app-question-list>
    </div>
    <div class="card-container" *ngIf="questions.length>0">
      <app-quiz-card [parent]="quizForm" [question]="questions[currentQ]" [index]="currentQ">
      </app-quiz-card>
    </div>
  </div>
  <div class="bottombar">
    <div class="bottombar-right">
      <div class="button">
        <button mat-raised-button color="primary" [disabled]="!(questions && currentQ > 0)" (click)="prevQ($event)">Previous</button>
      </div>
      <div class="button">
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
      </div>
      <div class="button">
        <button mat-raised-button color="primary" [disabled]=" questions && currentQ == questions.length-1" (click)="nextQ($event)">
            Next
        </button>
      </div>
    </div>
  </div>
</div>
