<h3>Change your password</h3>
<form>
  <mat-form-field>
    <input matInput [(ngModel)]="password" type="password" id="currentPassword" name="currentPassword" placeholder="Current Password" />
  </mat-form-field><br />
  <mat-form-field>
    <input matInput [(ngModel)]="newPassword" type="password" id="newPassword" name="newPassword" placeholder="New Password" />
  </mat-form-field><br />
  <mat-form-field>
      <input matInput [(ngModel)]="confirmNewPassword" type="password" id="confirmNewPassword" name="confirmNewPassword" placeholder="Confirm Password" />
  </mat-form-field><br />
  <button mat-button (click)="updatePassword()">Submit</button>
</form>
<span *ngIf="updatePasswordError">{{ updatePasswordError }}</span>