<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">
			jdbc:oracle:thin:@renature-sql-instance.cffylvuupdae.us-east-2.rds.amazonaws.com:1521:ORCL
		</property>
		<property name="hibernate.connection.username">
			HoneyBadgers
		</property>
		<property name="hibernate.connection.password">
			honeybadgers
		</property>
		<property name="hibernate.connection.driver_class">
			oracle.jdbc.driver.OracleDriver
		</property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.Oracle10gDialect
		</property>
		<property name="hibernate.show_sql">
			false
		</property>
	<property name="hibernate.hbm2ddl.auto">
			update
		</property>
		 
    <!--<property name="hibernate.cache.provider_class">
			org.hibernate.cache.EhCacheProvider
		</property> -->
		<mapping class="com.revature.beans.Users"></mapping>
		<mapping class="com.revature.beans.Questions"></mapping>
		<mapping class="com.revature.beans.AnsweredQuestions"></mapping>
		<mapping class="com.revature.beans.Responses"></mapping>
		<mapping class="com.revature.beans.Tags"></mapping>

		
	</session-factory>

</hibernate-configuration>
