<div class="AddQFormContainer">
  <form class="AddForm" [formGroup]="QForm">
    <mat-form-field>
      <textarea matInput formControlName="Question" placeholder="Question"></textarea>
      <mat-error *ngIf="QForm.get('Question').invalid">*Field Required</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="tagList">
      <mat-select placeholder="Tag" formControlName="Tag">
        <mat-option *ngFor="let t of tagList" [value]="t">
          {{t.tagName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="QForm.get('Tag').invalid">*Field Required</mat-error>
    </mat-form-field>
    <div class="AFcontainer" formArrayName="Answers">
      <mat-error class="ArrayErr" *ngIf="Answers.invalid">{{getAnswersArrayErrorMessage()}}</mat-error>
      <div class="AnswerFields" *ngFor="let a of Answers.controls; let i=index" [formGroupName]="i">
        <mat-form-field class="Ans">
          <textarea matInput formControlName="text" placeholder="Answer {{i+1}}"></textarea>
          <mat-error *ngIf="a.get('text').invalid">*Field Required</mat-error>
        </mat-form-field>
        <div class="SideControl">
          <mat-slide-toggle formControlName="correct">Correct Answer</mat-slide-toggle>
        </div>
        <div *ngIf="Answers.length>2" class="SideControl">
          <button mat-icon-button color="primary" (click)="deleteAnswer(i)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <span *ngIf="Answers.length<7">
        <button (click)="addAnswers()" mat-mini-fab color="primary">+</button>
        Add Answer
      </span>
      <span *ngIf="Answers.length>=7">Maximum Allowed Choices Reached!</span>
    </div>
  </form>
</div>
