<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile colspan="2">
    <form>
      <mat-form-field>
        <input matInput [(ngModel)]="tagFilter" placeholder="Filter Quizzes" type="text" id="tag-filter" name="tag-filter" (keyup)="updateTagList($event)" />
      </mat-form-field>
    </form>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile *ngFor="let tag of filteredTags" rowspan="3">
    <app-tag-item [tag]="tag"></app-tag-item>
  </mat-grid-tile>
</mat-grid-list>