<h1>Your Answered Questions</h1>
<mat-expansion-panel *ngFor="let tq of tagQuestionsKeys">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h2>{{ tq }}</h2>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <h3>Performance</h3>
  <mat-progress-bar mode="determinate" value="{{ (tagCorrect.get(tq) / (tagCorrect.get(tq) + tagIncorrect.get(tq))) * 100 }}"></mat-progress-bar>
  <h3>Questions Answered for {{ tq }}</h3>
  <mat-card *ngFor="let aq of tagQuestions.get(tq)" [ngStyle]="{ 'background-color': aq.success ? '#A5D6A7' : '#EF9A9A' }">
    <mat-card-content>
      <p>{{ aq.qid.question }}</p>
      <p>{{ aq.success ? 'Correct' : 'Incorrect' }}</p>
    </mat-card-content>
  </mat-card>
</mat-expansion-panel>